<div class="flex-container" style="background-color:rgb(69, 153, 35);height:80px;">
    
  <img class="sbimage" src="../../assets/sell_paper_login.png"  alt="sell">


<h1 class="display-1 loginheading"> <strong> Recycle </strong> paper for <strong> credits </strong> </h1>

</div>

<div class="row loginform">
    <div class="col-sm-5 offset-sm-3">            
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)"class="row g-3">
            <div class="col-sm-6">
                <label for="first" class="form-label">First Name <span class="mandatory">*</span></label>
                <input type="text" #fname="ngModel"  name="firstname" class="form-control" id="first" [(ngModel)]="firstName" required>
              </div>
              <div class="col-sm-6">
                <label for="last" class="form-label">Last Name <span class="mandatory">*</span></label>
                <input type="text" #lname="ngModel" name="lastname"class="form-control" id="last" [(ngModel)]="lastName" required>
              </div>
            <div class="col-sm-6">
              <label for="inputEmail" class="form-label">Email <span class="mandatory">*</span></label>
              <input type="text" #eMail="ngModel" name="emailid" class="form-control" id="inputEmail" [(ngModel)]="emailId" required>
            </div>
            <div class="col-sm-6">
              <label for="contact" class="form-label">Phone No <span class="mandatory">*</span></label>
              <input type="number" #phone="ngModel" name="phoneno" class="form-control" id="contact" [(ngModel)]="phoneNo" required>
            </div>
            <div class="col-sm-6">
                <label for="pwd" class="form-label">Password <span class="mandatory">*</span></label>
                <input type="password" #pword="ngModel"  name="password" class="form-control" required id="pwd" aria-describedby="passwordHelpBlock" [(ngModel)]="passWord" required>
                
<div id="passwordHelpBlock" class="form-text">
 required minmum 8 characters(atleast one number,uppercase letter,special symbol)
</div>
              </div>
              <div class="col-sm-6">
                <label for="cpwd" class="form-label">Confirm Password <span class="mandatory">*</span></label>
                <input type="password" #cpword="ngModel" name="cpassword" class="form-control" id="cpwd" ngModel required>
              </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address Line1<span class="mandatory">*</span></label>
              <input type="text" class="form-control" name="a1" id="inputAddress" placeholder="Address Line 1" [(ngModel)]="line1" required>
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address Line2<span class="mandatory">*</span></label>
              <input type="text" class="form-control" name="a2" id="inputAddress2" placeholder="Address Line 2" [(ngModel)]="line2" required>
            </div>
            <div class="col-12">
              <label for="inputAddress3" class="form-label">Landmark</label>
              <input type="text" class="form-control" name="lmark" id="inputAddress3" placeholder="Landmark" [(ngModel)]="landmark">
            </div>
            <div class="col-sm-6">
              <label for="inputCity" class="form-label">City<span class="mandatory">*</span></label>
              <input type="text" class="form-control" name="city" id="inputCity" [(ngModel)]="city" required>
            </div>
            <div class="col-sm-4">
              <label for="inputState" class="form-label">State<span class="mandatory">*</span></label>
              <select id="inputState" class="form-select" name="State" [(ngModel)]="state" required>
                <option selected>Choose...</option>
                <option value="Dallas">Dallas</option>
                <option value="Boston">Boston</option>
                <option value="Chicago">Chicago</option>
              </select>
            </div>
            <div class="col-sm-2">
              <label for="inputZip" class="form-label">Zip<span class="mandatory">*</span></label>
              <input type="number" name="zip" class="form-control" id="inputZip" [(ngModel)]="pinCode" required>
            </div>           
            <div class="col-12">
              <h4>Fields marked with <span class="mandatory">*</span> are mandatory.</h4>
              <button type="submit" class="btn btn-primary" style="background-color:rgb(69, 153, 35)" [disabled]="!registerForm.valid">Register</button>
            
            </div>
            
          </form>
          <div class="row">
          <div *ngIf="errorMsg!=null">
            <span class="text-danger">{{errorMsg}}</span>
          </div>
          <div *ngIf="!(successMsg=='')">
            <span class="text-success fw-bolder fs-6">{{successMsg+" "}}&nbsp;<a [routerLink]="['/login','customer']"> <strong>Click Here to continue...</strong> </a></span>  
                      
          </div>         
       
    </div>
</div>
</div>
