<div class="row" style="margin-top: 60px;">
   <h2 class="col-3">Payment Details: </h2> <h2 class="col-5" style="margin-left: -80px;"><strong> Total amount to be Paid: Rs  {{totalCartValue}}</strong></h2>
</div>

<div class="row">
    <form action="" class="col-7 " style="border:2px solid rgb(217,217,217);padding: 15px;margin-left: 30px;border-radius: 10px;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Credit/debit card
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Net banking</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked>
        <label class="form-check-label" for="inlineRadio3">UPI</label>
      </div>
      <div>
      <label for="sampleUpi">  Please enter your UPI ID: </label></div>
      <div><input #upiValue type="text" style="width:300px;height:30px;margin-top:5px">  <button #verifybutton class="btn" (click)="checkUpi(upiValue.value,verifybutton)" style="background-color: rgb(196,63,62);margin-left:20px;color:white;width:100px;height:30px;padding: 2px;">Verify</button><i *ngIf="verifybutton.innerText=='Verified'" class="bi bi-check-lg" style="color: green;font-size: 36px; margin-left: 5px;margin-top: 35px;"></i></div>
      <span *ngIf="upiStatus" class="text text-danger">UPI not verified, plese check and re-enter</span>
      <div *ngIf="verifybutton.innerText=='Verified'"><a (click)="updateTransaction()" class="btn" style="background-color: rgb(29,73,153);margin-left: 10px;color:white;margin-top: 5px;">Pay Now
      </a></div>
    </form>
</div>
