 <div class="flex-container" style="background-color:rgb(69, 153, 35);height:80px;">
    
    <img class="sbimage" src="../../assets/sell_paper_login.png"  alt="sell">


  <h1 class="display-1 loginheading"> <strong> Recycle </strong> paper for <strong> credits </strong> </h1>

</div>

<div class="row"  style="background-color: rgb(220, 245, 184);min-height:80vh;">
    
        <h1 class="text-center" style="margin-top:50px"> <strong> Oops… Paper details do not match</strong></h1>
    
    <div class="row">
      <div class="col-sm-4 col-md-4 offset-md-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="4" text-center style="background-color: #FFF2CC;">Paper details provided by you</th>
          </tr>
          <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Quality</th>
            <th scope="col">Quantity in kgs</th>
            <th scope="col">Type</th>
            
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let paperdetail of papers;index as i">
              <td>{{i+1}}</td>
              <td  *ngFor="let detail of paperdetail| keyvalue;">{{detail.value}}</td>              
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-md-2 text-center icon"><i class="bi bi-x-lg"></i></div>
      <div class="col-sm-4 col-md-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4" style="background-color: rgb(226, 240, 217);">Paper details calculated by drop box</th>
            </tr>
            <tr>
              <th scope="col">Sl No.</th>
              <th scope="col">Quality</th>
              <th scope="col">Quantity in kgs</th>
              <th scope="col">Type</th>
              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let paperdetail of dropboxPaperDetails;index as i">
                <td>{{i+1}}</td>
                <td  *ngFor="let detail of paperdetail| keyvalue;">{{detail.value}}</td>              
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="row buttons" >
      <div class="col-4 offset-3"><a [routerLink]="['/dropbincancel']" class="btn" style="background-color: rgb(127, 127, 127);margin-left: 100px;color:white">Cancel</a></div>
    <div class="col-sm-4 col-md-5"><a (click)="updatePaperData()"  class="btn" style="background-color: rgb(69, 153, 35);margin-left: 100px;color:white">Continue With Device Calculation</a></div>  
    
</div>
</div>
<!-- [routerLink]="['/dropbinsuccess']" -->

