/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sbimage{
    position:relative;
    /* top:-35px; */
   /*  height:30%; */
    height:150px;
    width: 150px;
    z-index: top;
}

.loginheading{
    /* position:relative; */
    /* top:20px; */
    /* left: 20px; */
    /* right:220px; */
    color:white;
    font-size: 2.05em;    
}
.sellparagraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.sidebar {
    /* min-width: 250px; */
    /* max-width: 250px; */
    min-height: 100vh;
    background-color:rgb(69, 153, 35);
}
.dropbin-heading{
    margin-top: 100px;
}
.flex-container{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left:-0.05em;
    margin-right:-0.05em;
}