<div class="flex-container" style="background-color:rgb(69, 153, 35);height:80px;">
    
  <img class="sbimage" src="../../assets/sell_paper_login.png"  alt="sell">


<h1 class="display-1 loginheading"> <strong> Recycle </strong> paper for <strong> credits </strong> </h1>

</div>

    <div class="row" style="margin-bottom: 150px;background-color: rgb(220, 245, 184);min-height:80vh;">
        <div class="row">
        <div class="col-4 offset-4" id="innerdiv" style="background-color:rgb(69, 153, 35);">
            <h2>Congratulations  {{userName|titlecase}}!!!</h2>
            <h3 id="rewardheading" class="text-center">You have earned {{rewardPoints}} reward points</h3>
            <h4 style="font-size:18px" class="text-center">Thank you for contributing towards our paper recycling initiative.
            </h4>
            <img src="../../assets/sell_success.png" class="image-fluid" height="150px" width="150px" style="margin-left:315px;position:relative;bottom:40px;" alt="success">
        </div>
        
    </div>
    </div>
