<p class="sellparagraph">Choose a Paper collecting service</p>
<div class='row'>
    <div class="col-sm-4">
        <div class="card">
            <img src="../../assets/sell (2).png" class="card-img-top img-fluid img-thumbnail" alt="sell">
            <div class="card-body">
              <h2 class="card-title">Dropbox</h2>
              <p class="card-text">You can locate the nearby Paper drop box and drop the papers.
            </p>
              <a [routerLink]="['/customer', {outlets: {'sidenavcontent': ['locate']}}]" class="btn btn-primary" style="background-color:rgb(69, 153, 35) ;">Locate nearby drop box</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 offset-sm-1">
        <div class="card">
            <img src="../../assets/pickup.png" class="card-img-top img-fluid img-thumbnail" alt="pickup">
            <div class="card-body">
              <h2 class="card-title">Pick up</h2>
              <p class="card-text">You can schedule an appointment and our pickup agent will pick the papers from your address.
            </p>
              <a href="#" class="btn btn-primary" style="background-color: #C43F3E;">Make an appointment</a>
            </div>
          </div>
    </div>
</div>
