<div class="hero-image">    
    <div>
        <p class="text-center hero-text"> <strong> Recycle </strong> the Paper, <strong> Before </strong> you trash it!</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 offset-sm-1">
        <img src="../assets/Sell_Paper _image.png" height="80%" alt="sell">
    </div>
    <div class="col-sm-6 offset-sm-1 sell-paper">
        <h1> <strong> SELL </strong> Paper </h1>
        <p>
            
            If you are a customer having lots of wastepaper and want to recycle them, 
            then register with us and we will collect the paper and earn credits. 
        </p>
        <a mat-raised-button [routerLink]="['/login','customer']" style="background-color: rgb(69, 153, 35);color:white;">Customer SignIn</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 offset-sm-1">
        <img src="../../assets/Buy_Paper_image.png" height="80%" alt="sell">
    </div>
    <div class="col-sm-6 offset-sm-1 sell-paper">
        <h1> <strong> BUY </strong> Paper </h1>
        <p>
            If you are a paper recycling company looking for paper raw materials, then register with us and provide us your requirement.  

        </p>
        <a mat-raised-button [routerLink]="['/login','consumer']" style="background-color:rgb(6, 81, 151);color:white">Consumer SignIn</a>
    </div>
</div>

