<div *ngIf="userType=='customer'">
<div class="row" style="background-color: rgb(255 230 153);margin-top:-14px;">

    <h1 class="col-4 customerheading" style="color:rgb(53, 50, 50);margin-top:30px"><strong>Refer Friends and Earn Points</strong></h1> 
    <div class="col-2 offset-5" style="background-color: rgb(69, 153, 35);padding: 25px;margin-top: 2px;">
      <p  class="text-center" style="font-size: 50px;color:white"><b> 50 </b></p>
      <p  class="text-center" style="font-size: 15px;color:white"><b>Reward points </b></p>
    </div>
    <h3 style="margin-top: -25px;"> Introduce a friend to SATVA and you'll be credited with 50 Points</h3>
    </div>
      
    
    <div class="row">
          
      <h2>Share my referral link with friends</h2>   
  </div>
    
   
    <form class="row">              
         
            <input class="col-6" type="text" style="font-weight:bold;border:2px solid black;" value="https://www.satva.com/refferals">
            <button type="submit" class="col-2" style="background-color: rgb(255,230,153);margin-left:10px "><strong>Copy Link</strong>
            </button>       
         </form>
      <div class="row">
        <h2 class="col-5" style="margin-top: 10px;">Or Invite through social media </h2> 
        </div> 
        <div class="row">
          <button type="submit" class="btn btn-primary col-2" style="background-color: rgb(196,63,62);"> <i class="bi bi-google"></i>+ Google
          </button>


          <button type="submit" class="btn btn-primary col-2 offset-1" style="background-color: rgb(29, 73, 153);"><i class="bi bi-facebook"></i> facebook
    </button>

    <button type="submit" class="btn btn-primary col-2 offset-1" style="background-color: rgb(0, 176, 240);"><i class="bi bi-twitter"></i> twitter
    </button>
  
 
    </div>
  </div>
  <div *ngIf="userType=='consumer'">
    <div class="row" style="background-color: rgb(217,217,217);margin-top:-14px;">
    
        <h1 class="col-4 customerheading" style="color:rgb(53, 50, 50);margin-top:30px"><strong>Refer Friends and Earn Points</strong></h1> 
        
        <div class="col-2 offset-5" style="background-color: rgb(34,86,180);padding: 25px;margin-top: 2px;">
          <p  class="text-center" style="font-size: 50px;color:white"><b> 50 </b></p>
          <p  class="text-center" style="font-size: 15px;color:white"><b>Reward points </b></p>
        </div>
        <h3 style="margin-top: -25px;"> Introduce a friend to SATVA and you'll be credited with 50 Points</h3>
        
        </div>
          
        
        <div class="row" style="margin-top: 30px;">
          
          <h2>Share my referral link with friends</h2>   
      </div>
        
       
        <form class="row">              
             
                <input class="col-6" type="text" style="font-weight:bold;border:2px solid black" value="https://www.satva.com/refferals">
                <button type="submit" class="col-2" style="background-color: rgb(217,217,217);margin-left:10px "><strong>Copy Link</strong>
                </button>       
             </form>
          <div class="row">
            <h2 class="col-5" style="margin-top: 10px;">Or Invite through social media </h2> 
            </div> 
            <div class="row">
              <button type="submit" class="btn btn-primary col-2" style="background-color: rgb(196,63,62);"> <i class="bi bi-google"></i>+ Google
              </button>
    
    
              <button type="submit" class="btn btn-primary col-2 offset-1" style="background-color: rgb(29, 73, 153);"><i class="bi bi-facebook"></i> facebook
        </button>
    
        <button type="submit" class="btn btn-primary col-2 offset-1" style="background-color: rgb(0, 176, 240);"><i class="bi bi-twitter"></i> twitter
        </button>
      
     
        </div>
      </div>