<div class="hero-image">    
    <div>
        <p class="text-center hero-text"> <strong> Recycle </strong> the Paper, <strong> Before </strong> you trash it!</p>
    </div>
</div>
<div class="row " style="margin-top:10px;">
 <h1 class="text-center display-1"> <strong>Contact us</strong></h1>
 <div class="col-4 offset-4 list-group" style="margin-bottom: 50px;">
     <li class="list-group-item list-group-item-action" style="background-color: rgb(112, 107, 107);color: white;">For any queries, please reach out to us:</li>     
    <li class="list-group-item list-group-item-action" >malathi_m2002@yahoo.com</li>
    <li class="list-group-item list-group-item-action">swetha.santhosh2007@gmail.com</li>
    <li class="list-group-item list-group-item-action">rrahulsingh7777@gmail.com</li>
    <li class="list-group-item list-group-item-action">Apoorvan737@gmail.com</li>
    <li class="list-group-item list-group-item-action">nandu.flora2009@gmail.com</li>
    
 </div>
 
</div>
