

/* .loginform{
    /* margin-top:10%; */
    /* padding:15px;
    margin-bottom:25%;
} */ 
.errorspan{
    margin-top: 2px;
}
.mandate{color:red}
.carousel-item img{
    height:500px;
    width:200px
}