
  
      <div class="row" style="margin-top: -55px;">
          <div class="col-6 offset-2" id="innerdiv" style="background-color:rgb(29, 73, 153);padding: 20px;">
              <h1 class="text-center" ><strong> Your order is complete! </strong></h1>
              <h2 class="text-center">Your order will be delivered to your firm address in 2 Working days.</h2>
              <h2 class="text-center">Thank you for contributing towards our paper recycling initiative.</h2>
              <img src="../../assets/buy_order.png" class="image-fluid" height="170px" width="170px" style="margin-left:400px;position:relative;bottom:55px;" alt="ordercomplete">
          </div>
      </div>
  